<!-- app/views/users/new.html.erb -->
<style>
.tab {
    display: inline-block;
    margin-left: 11em;
}
.tab2 {
    display: inline-block;
    margin-left: 9em;
}
.tab3 {
    display: inline-block;
    margin-left: 3em;
}
</style>

<h1>Rejestracja</h1>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= form_with(model: @user, url: users_path, local: true) do |f| %>
  <br>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, class: "tab" %>
  </div>
  <br>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password, class: "tab2" %>
  </div>
  <br>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "tab3" %>
  </div>
  <br>
  <div>
    <%= f.submit "Zarejestruj się", class: "btn btn-primary"  %>
  </div>
<% end %>
