<div id="<%= dom_id todo %>">
  <p>
    <strong>Nr:</strong>
    <%= todo.nr %>
  </p>

  <p>
    <strong>Termin:</strong>
    <%= todo.termin %>
  </p>

  <p>
    <strong>Nazwa:</strong>
    <%= todo.nazwa %>
  </p>

  <p>
    <strong>Tresc:</strong>
    <%= todo.tresc %>
  </p>

  <p>
    <strong>Waznosc:</strong>
    <%= todo.waznosc %>
  </p>

  <p>
    <strong>Stopien postepu:</strong>
    <%= todo.stopien_postepu %>
  </p>

</div>
